<!DOCTYPE html>

<html>

<head>
   <title>About</title>
   <link rel='icon' href="/img/weather.png" />
   <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
   <div class="main-content">
      {{>header}}
      <p>This site was created by gagaduday. It uses data from mapbox.com and darksky.net</p>
      <img class="portrait" src="/img/thumb-fd17097df0a3e8be4541933de0e46459_612x0.png" />
   </div>
   {{>footer}}
</body>

</html>